<h2>Меню пиццы</h2>

<div *ngIf="loading">Загрузка...</div>
<div *ngIf="error">{{error}}</div>

<div class="menu-layout" *ngIf="!loading && !error">
  <aside class="menu-aside">
    <h3>Фильтр по ингредиенту</h3>
    <div class="ingredient-buttons">
      <button
        type="button"
        [class.active]="selectedIngredient === ''"
        (click)="applyIngredientFilter('')">
        Все
      </button>
      <button
        *ngFor="let ing of allowedIngredients"
        type="button"
        [class.active]="selectedIngredient === ing"
        (click)="applyIngredientFilter(ing)">
        {{ ing }}
      ></button>
    </div>
  </aside>

  <div class="pizza-list" *ngIf="!loading && !error">
  <div class="pizza-card" *ngFor="let pizza of filteredPizzas">
    <img [src]="pizza.image" alt="{{pizza.name}}" class="pizza-img"/>
    <h3>{{pizza.name}}</h3>
    <p class="pizza-desc">{{pizza.description}}</p>
    <div class="pizza-footer">
      <span class="pizza-price">{{pizza.price | currency:'RUB ':'symbol':'1.0-0'}}</span>
      <button>В корзину</button>
    </div>
  </div>
</div>
</div>