<h2>Меню пиццы</h2>

<div *ngIf="loading">Загрузка...</div>
<div *ngIf="error">{{error}}</div>

<div class="menu-layout" *ngIf="!loading && !error">
  <aside class="menu-aside">
    <h3 class="ingredient-h3">Фильтр по ингредиенту</h3>
    <div class="ingredient-buttons">
      <button
        type="button"
        [class.active]="selectedIngredient === ''"
        (click)="applyIngredientFilter('')">
        Все
      </button>
      <button
        *ngFor="let ing of allowedIngredients"
        type="button"
        [class.active]="selectedIngredient === ing"
        (click)="applyIngredientFilter(ing)">
        {{ ing }}
      </button>
    </div>
  </aside>

  <div class="pizza-list" *ngIf="!loading && !error">
  <div class="pizza-card" *ngFor="let pizza of filteredPizzas">
    <img [src]="pizza.image" alt="{{pizza.name}}" class="pizza-img"/>
    <h3 class="pizza-h3">{{pizza.name}}</h3>
    <p class="pizza-desc">{{pizza.description}}</p>
    
    <div class="pizza-footer">
      <span class="pizza-price">{{pizza.price | currency:'Руб ':'symbol':'1.0-0'}}</span>
      <ng-container *ngIf="getCartCount(pizza._id) > 0; else addToCartBtn">
        <button (click)="removeFromCart(pizza._id)">-</button>
        <span style="margin: 0 8px;">{{getCartCount(pizza._id)}}</span>
        <button (click)="addToCart(pizza._id)">+</button>
      </ng-container>
      <ng-template #addToCartBtn>
        <button (click)="addToCart(pizza._id)">В корзину</button>
      </ng-template>
    </div>
  </div>
</div>
</div>

<!-- Плавающий кружок с суммой заказа -->
<div class="cart-fab" *ngIf="totalCount > 0">
  <span>{{ totalPrice | currency:'Руб ':'symbol':'1.0-0' }}</span>
</div>